{{ define "main" }}
    <main aria-role="main">
      <link href='https://fonts.googleapis.com/css?family=Barlow' rel='stylesheet'>
      <link href='/css/main.css' rel='stylesheet'>
      <header class="homepage-header">
        <h1>{{.Title}}</h1>
        {{ with .Params.subtitle }}
        <span class="subtitle">{{.}}</span>
        {{ end }}
      </header>
      <div class="homepage-content">
	<h1> Welcome! </h1>
	<p> This website is currently under construction. Please check back soon to see new content! </p>        
      </div>
    </main>
{{ end }}

